img {
    max-width: 100%;
}

.sharingan-picture {
    margin-left: 20px;
    max-width: 35px;
}

.label-style {
    color: #d64161;
}
.back-style {
    
    margin-left: 31cm;
    margin-top: 5cm;
    
    
}